appdirs==1.4.4
asttokens==2.2.1
backcall==0.2.0
backports.functools-lru-cache==1.6.4
certifi==2022.12.7
charset-normalizer==3.0.1
cmake==3.25.0
comm==0.1.2
debugpy==1.6.6
decorator==5.1.1
executing==1.2.0
filelock==3.9.0
functorch==1.13.0
idna==3.4
importlib-metadata==6.0.0
ipykernel==6.19.2
ipython==8.10.0
jedi==0.18.2
jupyter_client==8.0.3
jupyter_core==5.2.0
Mako==1.2.4
MarkupSafe==2.1.2
matplotlib-inline==0.1.6
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mpmath==1.2.1
nest-asyncio==1.5.6
networkx==3.0rc1
numpy==1.23.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
packaging==23.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
pip==22.2.2
platformdirs==3.0.0
prompt-toolkit==3.0.36
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pycuda==2022.2.2
Pygments==2.14.0
python-dateutil==2.8.2
pytools==2022.1.14
pytorch-triton==2.0.0+0d7e753227
pyzmq==25.0.0
requests==2.28.2
scipy==1.10.1
setuptools==67.4.0
six==1.16.0
stack-data==0.6.2
sympy==1.11.1
torch==2.0.0.dev20230202+cu116
torchaudio==2.0.0.dev20230201+cu116
torchdiffeq==0.2.3
torchode==0.1.1.post1
torchtyping==0.1.4
torchvision==0.15.0.dev20230201+cu116
tornado==6.2
traitlets==5.9.0
typeguard==2.13.3
typing_extensions==4.4.0
urllib3==1.26.14
wcwidth==0.2.6
wheel==0.38.4
zipp==3.15.0
